@include mq(xl) {
    #navimenu{
        display: none;
    }
}
@include mq(tb) {
    @include cloudpouup(navimenu,12vw,5%,5%);
    #navimenu{
        .navimenu--area{
            .navimenu--contant{
                //background-color: red;
                margin-top: 0%;
                height: 100%;
                overflow-y: scroll;
            }
            @include tglbutton-menu-base(tglbutton-menu);
        }
        #navimenu--on:not(:checked) ~ .navimenu--area{
            .navimenu--contant{transform: scale(0);}
            @include tglbutton-menu-off(tglbutton-menu);
        }
        #navimenu--on:checked ~ .navimenu--area{
            .navimenu--contant{transform: scale(100%);}
            @include tglbutton-menu-on(tglbutton-menu,10vw);
        }
    }

    .navimenu--contant{
        .hl-title{
            margin: 2rem 0;
        }
        @include accordionSP(navicate);
        
        .navicate--on:not(:checked) ~ .navicate--toggle{
            @include tglbutton-cate-off(tglbutton-cate,5vw);
        }
        .navicate--on:checked ~ .navicate--toggle{
            @include tglbutton-cate-on(tglbutton-cate,5vw);
        }
    }
}