.strhead{
    margin-bottom:10%;
    .strhead--inner{
        padding-top:60%;
        width : 100% ;
        position: relative;
        .strhead--bgimg,.strhead--bgcol{
            position: absolute;
            top:0;
            left:0;
            right: 0;
            bottom:0;
            width: 100%;
        }
        .strhead--bgcol{
            background-color: green;
            filter: hue-rotate(var(--huedeg));
        }
        .strhead--bgimg{
            opacity: 0.3;
            filter: grayscale(1) brightness(1.5);
        }
        .strhead--title{
            position: absolute;
            width: 90%;
            right: 1%;
            bottom:-10%;
            text-align: left;
            .strhead--h1,.strhead--p{
                margin:0.5rem;
                letter-spacing: 0.2rem;
                line-height: 1.3;
            }
        }
    }
}

.strupdown{
    margin: 2rem 0;
    .strupdown--line{
        margin:1rem 1.3rem;
        width: calc(100% - 2.6rem);
        
        .strupdown--l,.strupdown--r{
            font-weight: bold;
        }
        .strupdown--bar{
            margin: 0 1rem;
            position: relative;
            .strupdown--icon{
                color: green;
                filter: hue-rotate(var(--huedeg)) drop-shadow(1px 1px 1px black);

                position: absolute;
                left:var(--left);
                bottom: 0%;
                transform: translateX(-50%) translateY(30%);
                font-size: 1.5em;
            }
        }
    }
}
.strrank{
    margin:0.5rem 1.3rem;
    width: calc(100% - 2.6rem);
    i.strrank--1{font-size:3em;margin:0 0em;}
    i.strrank--2{font-size:2.2em;margin:0 0.1em;}
    i.strrank--3{font-size:1.8em;margin:0 0.2em;}
    .strank--ranknum{filter:drop-shadow(1px 1px 1px black);}
    .strank--ranknum.strrank--1{font-size:2em;@include ranknum1();}
    .strank--ranknum.strrank--2{font-size:1.8em;@include ranknum2();}
    .strank--ranknum.strrank--3{font-size:1.6em;@include ranknum3();}
    .strrank--text{margin:0;}
    .strrank--text.strrank--1{font-size:1.4em;}
    .strrank--text.strrank--2{font-size:1.2em;}
    .strrank--text.strrank--3{font-size:1.0em;}
}