@mixin ranknum1{
    background:linear-gradient(-38deg,
        #aa771c 0%, #d0a850 10%, #b38728 40%,
         #fbf5b7 70%, #aa771c 100%);
    background-clip:text;
    text-fill-color:transparent;
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}
@mixin ranknum2{
    background:linear-gradient(-38deg,
         #dedede,  #454545 23%, #dedede 43%,
         #ffffff 45%, #ffffff 60%, #dedede 72%,  #a1a1a1);
    background-clip:text;
    text-fill-color:transparent;
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}
@mixin ranknum3{
    background:linear-gradient(-38deg,
         #ca7345,  #a14521 27%, #ca7345 36%, #ffdeca 45%,
         #ffdeca 53%, #ffdeca 60%, #ca7345 84%, #732100);
    background-clip:text;
    text-fill-color:transparent;
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

@mixin ranknum4{
    background:linear-gradient(-38deg, #000000 10%, #A0A0A0 60%, #000000 90%);
    background-clip:text;
    text-fill-color:transparent;
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}