
.sdw_card{
    filter: drop-shadow(0.390625vw 0.390625vw 0.390625vw rgba(5, 5, 5, 0.9));
}

.sdw4{
    filter: drop-shadow(2px 2px 1.5px rgba(10, 10, 10, 0.8));
}
.sdw3{
    filter: drop-shadow(1.5px 1.5px 1px rgba(10, 10, 10, 0.85));
}
.sdw2{
    filter: drop-shadow(1px 1px 0.5px rgba(10, 10, 10, 0.9));
}
.sdw1{
    filter: drop-shadow(0.5px 0.5px 0px rgba(10, 10, 10, 0.95));
}