
$root2:1.4142;

@mixin tglbutton-menu-base($baseclass){
    .#{$baseclass}{
        position: absolute;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        
        .#{$baseclass}--bar1,
        .#{$baseclass}--bar2,
        .#{$baseclass}--bar3{
            display: block;
            width:100%;
            height: 20%;
            background-color: $cla-d10;
            border-radius: 3px;
        }
    }
}

@mixin tglbutton-menu-off($baseclass){
    @include tglbutton-menu-base($baseclass);
    .#{$baseclass}{
        right:15%;
        bottom: 15%;
        width: 70%;
        height: 70%;
        
    }
}
@mixin tglbutton-menu-on($baseclass,$b-size:10vw){
    @include tglbutton-menu-base($baseclass);
    .#{$baseclass}{
        right:5%;
        bottom: 5%;
        width: $b-size;
        height: $b-size;

        display:flex;
        flex-direction: column;
        justify-content: space-between;
        
        .#{$baseclass}--bar1{
            transform: translateY($b-size/2) rotate((180*0)+45deg);
        }
        .#{$baseclass}--bar2{
            position: absolute;
            width: $b-size;
            height: $b-size;
            top:10%;
            left:0;
            border-radius: 50%;
            background-color: transparent;
            border: solid 3px $cla-d10;
        }
        .#{$baseclass}--bar3{
            transform: translateY(-$b-size/2) translateY(100%) rotate((-180*1)-45deg);
        }
    }
}

@mixin tglbutton-cate-base($baseclass,$b-size:10vw){
    .#{$baseclass}{
        display:inline-block;
        width:$b-size;
        height:$b-size;
        //background-color: yellow;
        margin-right:$b-size/2;

        display:flex;
        flex-direction: column;
        justify-content: space-between;

        .#{$baseclass}--bar1,.#{$baseclass}--bar2{
            display: block;
            height: 15%;
            background-color:$cla-d10;
            border-radius: 3px;
        }
        .#{$baseclass}--bar1{
            transform-origin:left top;
            transform: rotate(45deg);

        }
        .#{$baseclass}--bar2{
            transform-origin:left bottom;
            transform: rotate(-45deg);
        }
    }
}
@mixin tglbutton-cate-off($baseclass,$b-size:10vw){
    @include tglbutton-cate-base($baseclass,$b-size);
    .#{$baseclass}{
        transform: translateX($b-size/2);
        .#{$baseclass}--bar1,.#{$baseclass}--bar2{
            width:70%;
        }
        .#{$baseclass}--bar1{
            transform-origin:left top;
            transform: rotate(45deg);

        }
        .#{$baseclass}--bar2{
            transform-origin:left bottom;
            transform: rotate(-45deg);
        }
    }
}
@mixin tglbutton-cate-on($baseclass,$b-size:10vw){
    @include tglbutton-cate-base($baseclass,$b-size);
    .#{$baseclass}{
        transform: none;
        .#{$baseclass}--bar1,.#{$baseclass}--bar2{
            width:126.5%;
        }
    }
}


@mixin tglbutton-faws-base($baseclass,$fsize){
    .#{$baseclass}{
        position: absolute;
        z-index: 1;
        
        &::before{
            font-size:0.8*$fsize;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            color:$cla-d10;
        }
    }
}

@mixin tglbutton-come-off($baseclass,$fsize){
    .#{$baseclass}{
        right: 5%;
        bottom: 10%;
        &::before{
            content: "\f086";
        }
    }
}
@mixin tglbutton-come-on($baseclass,$fsize){
    
    .#{$baseclass}{
        right: 5%;
        bottom: 5%;

        &::before{
            content: "\f4b3";
        }
    }
}



@mixin tglbutton-share-off($baseclass,$fsize){
    .#{$baseclass}{
        right: 15%;
        bottom: 5%;
        &::before{
            content: "\f1e0";
        }
    }
}
@mixin tglbutton-share-on($baseclass,$fsize){
    
    .#{$baseclass}{
        right: 5%;
        bottom: 5%;

        &::before{
            content: "\f057";
        }
    }
}