/*--------------------------------------------------------------
## Top page Block
--------------------------------------------------------------*/
.tpv{
	display:block;
	width:100%;
	height:100%;
	position:relative;
	
	.tpv-bg{
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		
		object-fit:cover;
		object-position: center;
		pointer-events: none;
	}
	
	.tpv-area{
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		pointer-events: none;
		
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-end;
		align-items: flex-end;
		align-content: flex-end;
		
		.tpva-categ,.tpva-title{
			filter:none;
			font-weight:normal;
			color:$clb-g10
		}
		
		.tpva-categ{
			background-color:$cla-l08;
			margin:0 1.5625vw 0.5vw ;
			padding: 0 1.5625vw;
		}
		.tpva-title{
			background-color:$cla-d08;
			margin:0 1.5625vw 0.5vw 10%;
			padding:0.5vw 1.5625vw ;
			text-align: right;
		}
		.tpva-dect{
			background-color:$clb-g08;
			color:$cla-d10;
			margin:0 1.5625vw 0.5vw 10%;
			padding:0.5vw 1.5625vw ;
			text-align: right;
		}
		

	}
	&:hover{
		.tpv-area{
			.tpva-title,.tpva-dect{
				margin-left:5%;
			}
		}
	}
}

.tpf-newest1,.tpf-newest2,.tpf-newest3,.tpc-1,.tpc-2,.tpc-3{
	.tpv{
		.tpv-bg{
			filter:sepia(40%)  hue-rotate(-16deg) contrast(80%) brightness(80%);
		}
		&:hover{
			.tpv-bg{
				filter:none;
			}
		}
	}
}
.tpf-newest1,.tpf-newest2,.tpf-newest3{
	.tpv{
		&:hover{
			.tpv-bg{
				animation:buruburu 0.3s 1 linear alternate;
			}
		}
	}
}

/*--------------------------------------------------------------
## Title
--------------------------------------------------------------*/
.h1-title{
	width:100%;
	position:relative;
	
	.h1t-back{
		width:100%;
		position:absolute;
		bottom:0;
		height:40%;
	}
	
	.h1t-name{
		position:absolute;
		top:0;
		margin: 0 auto;
		filter: drop-shadow(1px 1px 1px rgba(5, 5, 5, 0.9));
	
		display:flex;
		justify-content: center;
		align-items: center;
		h1{
			text-align:center;
			color:$clb-g10;
			text-shadow: 2px 2px 4px $cla-d08;
		}
		i{
			animation: bound 5s ease 0s infinite normal;
			margin: 0 0.5rem;
		}
	}
	@include mq(xl) {
		height:3.5em;
	}
	@include mq(md) {
		height:2.5em;
	}
}

/*--------------------------------------------------------------
## Rank
--------------------------------------------------------------*/
.vrn{
	text-decoration:none;
	margin: 1.5625vw 0;
	display:block;
	
	.vrn-text{
		display:flex;
		align-items: flex-end;
		min-height:70px;
		padding: 1%;
		filter: drop-shadow(1px 1px 1px $cla-d10); 
		
		.vrnt-num{
			font-size: 1.6em;
			line-height: 1;
			width:8%;
			text-align:right;
			
			margin: 0 1%;
			color: $clb-g10;
			font-weight: bold;
		}
		
		.vrnt-title{
			width:90%;
			display:flex;
			flex-direction: column;
			
			.vrnt-views{
				font-size:0.6em;
			}
			h2{
				font-size:1em;
				color: $clb-g10;
				text-shadow:0 0 2px $cla-d10;
			}
		}
	}
	
	&.vrn-1{
		.vrn-text{
			.vrnt-num{
				font-size: 2.4em;
				background:radial-gradient(ellipse farthest-corner at right bottom,
										#FEDB37 0%,#FDB931 8%,#9f7928 30%,#8A6E2F 40%,transparent 80%),
									radial-gradient(ellipse farthest-corner at left top,
										#FFFFFF 0%,#FFFFAC 8%,#D1B464 25%,#5d4a1f 62.5%,#5d4a1f 100%
				);
				background-clip:text;
				text-fill-color:transparent;
				-webkit-background-clip:text;
				-webkit-text-fill-color:transparent;
			}
		}
	}
	
	
}



