/*--------------------------------------------------------------
## Top page Block
--------------------------------------------------------------*/
.tpv{
	display:block;
	width:100%;
	height:100%;
	position:relative;
	
	.tpv-bg{
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		
		object-fit:cover;
		object-position: center;
		pointer-events: none;
	}
	
	.tpv-area{
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		pointer-events: none;
		
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-end;
		align-items: flex-end;
		align-content: flex-end;
		
		.tpva-categ,.tpva-title{
			filter:none;
			font-weight:normal;
			color:$clb-g10
		}
		
		.tpva-categ{
			background-color:$cla-l08;
			margin:0 1.5625vw 0.5vw ;
			padding: 0 1.5625vw;
		}
		.tpva-title{
			background-color:$cla-d08;
			margin:0 1.5625vw 0.5vw 10%;
			padding:0.5vw 1.5625vw ;
			text-align: right;
		}
		.tpva-dect{
			background-color:$clb-g08;
			color:$cla-d10;
			margin:0 1.5625vw 0.5vw 10%;
			padding:0.5vw 1.5625vw ;
			text-align: right;
		}
		

	}
	&:hover{
		.tpv-area{
			.tpva-title,.tpva-dect{
				margin-left:5%;
			}
		}
	}
}

.tpf-newest1,.tpf-newest2,.tpf-newest3,.tpc-1,.tpc-2,.tpc-3{
	.tpv{
		.tpv-bg{
			filter:sepia(40%)  hue-rotate(-16deg) contrast(80%) brightness(80%);
		}
		&:hover{
			.tpv-bg{
				filter:none;
			}
		}
	}
}
.tpf-newest1,.tpf-newest2,.tpf-newest3{
	.tpv{
		&:hover{
			.tpv-bg{
				animation:buruburu 0.3s 1 linear alternate;
			}
		}
	}
}

/*--------------------------------------------------------------
## Title
--------------------------------------------------------------*/
.h1-title{
	width:100%;
	position:relative;
	
	.h1t-back{
		width:100%;
		position:absolute;
		bottom:0;
		height:40%;
	}
	
	.h1t-name{
		position:absolute;
		top:0;
		margin: 0 auto;
		filter: drop-shadow(1px 1px 1px rgba(5, 5, 5, 0.9));
	
		display:flex;
		justify-content: center;
		align-items: center;
		h1{
			text-align:center;
			color:$clb-g10;
			text-shadow: 2px 2px 4px $cla-d08;
		}
		i{
			line-height: 1.5;
		}
		
		&.h1t-spb{
			width:100%;
			justify-content: space-between;
		}
		
	}
	@include mq(xl) {
		height:3.5em;
	}
	@include mq(md) {
		height:2.5em;
	}
}

/*--------------------------------------------------------------
## Rank
--------------------------------------------------------------*/
.vrn{
	text-decoration:none;
	margin: 1.5625vw 0;
	display:block;
	
	.vrn-bg{
		object-fit:cover;
		object-position: center;
		pointer-events: none;
	}
	
	.vrn-text{
		
		pointer-events: none;
	
		display:flex;
		align-items: flex-end;
		min-height:70px;
		padding: 1%;
		
		.vrnt-num{
			font-size: 1.6em;
			line-height: 1;
			width:8%;
			text-align:center;
			
			margin: 0 1%;
			color: $clb-g10;
			font-weight: bold;
			filter: drop-shadow(1px 1px 1px $cla-d10); 
		}
		
		.vrnt-title{
			width:90%;
			display:flex;
			flex-direction: column;
			filter: drop-shadow(1px 1px 1px $cla-d10); 
			
			.vrnt-views{
				font-size:0.6em;
				background-color:$cla-d10;
				color:$clb-g10;
				padding:0 1vw;
				width:25%;
				text-align:center;
			}
			h2{
				font-size:1em;
				color: $clb-g10;
				text-shadow:0 0 2px $cla-d10;
			}
		}
	}
	
	&.vrn-1{
		.vrn-text{
			.vrnt-num{
				font-size: 2.4em;
				background:linear-gradient(-38deg,
					#aa771c 0%, #d0a850 10%, #b38728 40%,
					 #fbf5b7 70%, #aa771c 100%);
				background-clip:text;
				text-fill-color:transparent;
				-webkit-background-clip:text;
				-webkit-text-fill-color:transparent;
			}
		}
	}
		&.vrn-2{
		.vrn-text{
			.vrnt-num{
				font-size: 2.4em;
				background:linear-gradient(-38deg,
					 #dedede,  #454545 23%, #dedede 43%,
					 #ffffff 45%, #ffffff 60%, #dedede 72%,  #a1a1a1);
				background-clip:text;
				text-fill-color:transparent;
				-webkit-background-clip:text;
				-webkit-text-fill-color:transparent;
			}
		}
	}
	&.vrn-3{
		.vrn-text{
			.vrnt-num{
				font-size: 2.4em;
				background:linear-gradient(-38deg,
					 #ca7345,  #a14521 27%, #ca7345 36%, #ffdeca 45%,
					 #ffdeca 53%, #ffdeca 60%, #ca7345 84%, #732100);
				background-clip:text;
				text-fill-color:transparent;
				-webkit-background-clip:text;
				-webkit-text-fill-color:transparent;
			}
		}
	}
	&.vrn-4,&.vrn-5{
		.vrn-text{
			.vrnt-num{
				background:linear-gradient(-38deg, #000000 10%, #A0A0A0 60%, #000000 90%);
				background-clip:text;
				text-fill-color:transparent;
				-webkit-background-clip:text;
				-webkit-text-fill-color:transparent;
			}
		}
	}
	
}
.vrn{
	
	position:relative;
	height:100px;
	
	.vrn-bg{
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		filter:sepia(40%)  hue-rotate(-16deg) contrast(80%) brightness(80%);
	}
	.vrn-text{
		
		position:absolute;
		bottom:0;
		left:0;
		width:100%;
		height:100%;
	}
}
.vrn:hover{
	/*animation: slidedown 1s ease 0s 1 normal both	;*/
	
	position:relative;
	height:200px;
	
	.vrn-bg{
		position:static;
		height:100%;
		filter:none;
	}
	.vrn-text{
		--c: rgba(183, 82, 10, 0.0);
		position:absolute;
		bottom:0;
		height:50%;
	}
}
/*--------------------------------------------------------------
## パンくず
--------------------------------------------------------------*/
#breadcrumb{
	margin-top: 1.5625vw;
	margin-left:calc( 100% - 90% - 3.125vw  );
	display:flex;
	
	.bc-ele{
		margin-right:1em;
		
		.bce-arrow{
		
			height:24px;
			display: inline-block;
			position:relative;
			background-color:$cla-d10;
			margin: 0 -20px 0 24px;
			padding: 0 5px;
			z-index:1;
			color:$clb-g10;
			text-decoration:none;
			
			&::before,&::after{
				content:'';
				position:absolute;
				width: 0;
				height: 0;
				top:0;
				border: 12px solid transparent;
				z-index:-1;
			}
			&::before{
				left:-12px;
				border-color:$cla-d10;
				border-left: 12px solid transparent;
			}
			&::after{
				right:-24px;
				border-color:$cla-d10;
				border-top: 12px solid  transparent;
				border-bottom: 12px solid  transparent;
				border-right: 12px solid  transparent;
			}
			
			
		}
		&:nth-child(1){
			.bce-arrow{
				background-color:#523f29;
				&::before{
					border-color:#523f29;
				}
				&::after{
					border-color:#523f29;
					border-top: 12px solid  transparent;
					border-bottom: 12px solid  transparent;
					border-right: 12px solid  transparent;
				}
			
			}
		}
	}
}

/*--------------------------------------------------------------
## 目次
--------------------------------------------------------------*/
#summary{
	margin: 0 1.5em;
	padding:1.5625vw;
	h3{
		margin: 1em 0;
	}
}


