
/*--------------------------------------------------------------
## Color
--------------------------------------------------------------*/
/*yellow*/
$c-main-ligh: #ffffdd;
$c-main-dark : #99993d;
$c-main-tran : rgba(163,136,16,0.8);

/*blue*/
$c-base-ligh : #ccf0ff;
$c-base-dark : #0a64ac;
$c-base-tran : rgba(10,100,172,0.8);
$c-base-tran2 : rgba(10,100,172,0.6);

/*white*/
$c-acsW-ligh : #f4f4f4;
$c-acsW-midd : #eeeeee;
$c-acsW-dark : #8a8a8a;

/*orange*/
$c-acsO-week : #fcd59f;
$c-acsO-ligh : #fb9100;
$c-acsO-dark : #8f5300;


/*base color = white*/
$clb-r10:rgba(253, 235, 235,1.0);
$clb-r03:rgba(253, 235, 235,0.3);
$clb-g10:rgba(253, 255, 253,1.0);
$clb-g03:rgba(253, 255, 253,0.3);

/*アクセント color = 赤茶*/
$cla-d10:rgba(43, 24, 0,1.0);
$cla-d08:rgba(43, 24, 0,0.8);
$cla-d06:rgba(43, 24, 0,0.6);
$cla-d03:rgba(43, 24, 0,0.3);

$cla-l10:rgba(255, 55, 0,1.0);
$cla-l08:rgba(255, 55, 0,0.8);


/*--------------------------------------------------------------
## MediaQuery
--------------------------------------------------------------*/
$breakpoints: (
	'sm': 'screen and (max-width: 374px)',
	'md': 'screen and (max-width: 580px)',
	'lg': 'screen and (max-width: 1200px)',
	'xl': 'screen and (max-width: 2400px)',
) !default;

@mixin mq($breakpoint: md) {
	@media #{map-get($breakpoints, $breakpoint)} {
		@content;
	}
}
/*--------------------------------------------------------------
## Shadow 
--------------------------------------------------------------*/
.sdw_card{
	filter: drop-shadow(0.390625vw 0.390625vw 0.390625vw rgba(5, 5, 5, 0.9));
}

/*--------------------------------------------------------------
## Vender Prefix
--------------------------------------------------------------*/
@mixin gradient($direction, $list) { 
	background: -webkit-linear-gradient($direction, $list);
	background: -moz-linear-gradient($direction, $list);
	background: -o-linear-gradient($direction, $list);
	background: linear-gradient($direction, $list);	
}
/*--------------------------------------------------------------
## Everything
--------------------------------------------------------------*/
*,h1,h2,h3,p,img,a,div{
	transition: 1s;
	margin:0;
	padding:0;
	font-family: "M PLUS Rounded 1c",'Source Sans Pro';
}
/*--------------------------------------------------------------
## Back ground
--------------------------------------------------------------*/

html,body{
	width:100%;
	height:auto;
}

#page{
	max-width:1600px;
	margin:auto;
}
	
.grd-back{ 
	$list-back-grad: 
		#F0F0F0 0%,
		#FFFFFF 70%,
		#F0F0F0 100%;

	width:100%;
	height:auto;
	@include gradient(15deg, $list-back-grad);

}



/*--------------------------------------------------------------
## H1234
--------------------------------------------------------------*/
h1{
	margin:0;
}

/*
.mkr-w {
	background: linear-gradient(transparent 60%, $c-acsW-ligh 0%);
}
.textgrad-o {
	background: linear-gradient( 
		-2deg,
		$c-acsO-dark 5%,
		$c-acsO-ligh 50%, 
		$c-acsO-week 65%, 
		$c-acsO-ligh 75%,
		$c-acsO-ligh 100%
	);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}
.textgrad-s {
	background: linear-gradient( 
		-2deg,
		#000000 5%,
		$c-acsW-midd 60%, 
		$c-acsW-ligh 65%, 
		$c-acsW-dark 75%,
		#000000 100%
	);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}
*/
/*--------------------------------------------------------------
## Fonts
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Bar
--------------------------------------------------------------*/
.bar-l{
	display:block;
	height:0.2em;
	width:100%;
	margin:0.2em 0;
}
.bar-s{
	display:block;
	height:0.1em;
	width:10%;
	margin:0.1em 0;
}
/*--------------------------------------------------------------
## Shadow
--------------------------------------------------------------*/
.sdw4{
	filter: drop-shadow(2px 2px 1.5px rgba(10, 10, 10, 0.8));
}
.sdw3{
	filter: drop-shadow(1.5px 1.5px 1px rgba(10, 10, 10, 0.85));
}
.sdw2{
	filter: drop-shadow(1px 1px 0.5px rgba(10, 10, 10, 0.9));
}
.sdw1{
	filter: drop-shadow(0.5px 0.5px 0px rgba(10, 10, 10, 0.95));
}
/*--------------------------------------------------------------
## TextOutline
--------------------------------------------------------------*/
/*
.cloud-out{
	text-shadow:
		0 0 5px $c-acsW-ligh,
		0 0 5px $c-acsW-ligh,
		0 0 5px $c-acsW-ligh,
		0 0 5px $c-acsW-ligh,
		0 0 5px $c-acsW-ligh,
		0 0 5px $c-acsW-ligh,
		0 0 5px $c-acsW-ligh,
		0 0 5px $c-acsW-ligh,
		0 0 5px $c-acsW-ligh,
		0 0 5px $c-acsW-ligh,
		0 0 5px $c-acsW-ligh,
		0 0 5px $c-acsW-ligh,
		0 0 5px $c-acsW-ligh,
		0 0 5px $c-acsW-ligh,
		0 0 5px $c-acsW-ligh,
		0 0 5px $c-acsW-ligh,
		0 0 5px $c-acsW-ligh,
		0 0 5px $c-acsW-ligh,
		0 0 5px $c-acsW-ligh,
		0 0 5px $c-acsW-ligh;
}
*/
/*--------------------------------------------------------------
## BOX
--------------------------------------------------------------*/
.bxrad{
	border-radius: 3px;
}
/*--------------------------------------------------------------
## Anime
--------------------------------------------------------------*/
@keyframes bound {
	0%,100% {top: 0;transform: scale(1);}
	40%,60% {top: 0;transform: scale(1);}
	50% {transform: scale(1.3);}
}
@keyframes buruburu {
    0% {transform:translate(0, -1px) rotate(0deg);}
    10% {transform:translate(0, 0) rotate(-1deg);}
    20% {transform:translate(0, -1px) rotate(0deg);}
    30% {transform:translate(0, 0)rotate(1deg);}
    40% {transform:translate(0, -1px) rotate(0deg);}
    5% {transform:translate(0, 0) rotate(-1deg);}
    60% {transform:translate(0, -1px) rotate(0deg);}
    70% {transform:translate(0, 0)rotate(1deg);}
    80% {transform:translate(0, -1px) rotate(0deg);}
    9% {transform:translate(0, 0) rotate(-1deg);}
    100% {transform:translate(0, -1px) rotate(0deg);}
}
