
/*--------------------------------------------------------------
## Color
--------------------------------------------------------------*/
/*base color = white*/
$clb-r10:rgba(253, 235, 235,1.0);
$clb-r03:rgba(253, 235, 235,0.3);
$clb-g10:rgba(253, 255, 253,1.0);
$clb-g08:rgba(253, 255, 253,0.8);
$clb-g06:rgba(253, 255, 253,0.6);
$clb-g03:rgba(253, 255, 253,0.3);

/*アクセント color = 赤茶*/
$cla-d10:rgba(43, 24, 0,1.0);
$cla-d08:rgba(43, 24, 0,0.8);
$cla-d06:rgba(43, 24, 0,0.6);
$cla-d03:rgba(43, 24, 0,0.3);

$cla-l10:rgba(255, 55, 0,1.0);
$cla-l08:rgba(255, 55, 0,0.8);


/*--------------------------------------------------------------
## MediaQuery
--------------------------------------------------------------*/
$breakpoints: (
	'sm': 'screen and (max-width: 374px)',
	'md': 'screen and (max-width: 580px)',
	'tb': 'screen and (max-width: 800px)',
	'lg': 'screen and (max-width: 1200px)',
	'xl': 'screen and (max-width: 2400px)',
) !default;

@mixin mq($breakpoint: md) {
	@media #{map-get($breakpoints, $breakpoint)} {
		@content;
	}
}
/*--------------------------------------------------------------
## Shadow 
--------------------------------------------------------------*/
.sdw_card{
	filter: drop-shadow(0.390625vw 0.390625vw 0.390625vw rgba(5, 5, 5, 0.9));
}

/*--------------------------------------------------------------
## Vender Prefix
--------------------------------------------------------------*/
@mixin gradient($direction, $list) { 
	background: -webkit-linear-gradient($direction, $list);
	background: -moz-linear-gradient($direction, $list);
	background: -o-linear-gradient($direction, $list);
	background: linear-gradient($direction, $list);	
}
/*--------------------------------------------------------------
## Everything
--------------------------------------------------------------*/
*,h1,h2,h3,p,img,a,div{
	transition: 1s;
	margin:0;
	padding:0;
	font-family: "M PLUS Rounded 1c",'Source Sans Pro';
}
/*--------------------------------------------------------------
## Rayout
--------------------------------------------------------------*/

html,body{
	width:100%;
	height:auto;

}

#primary,#secondary{
	margin :0 1.5625vw;
}



@include mq(xl) {
	#container{
		display:flex;
	}
	#primary{
		width:calc(62% - 1.5625vw);
	}
	#secondary{
		width:calc(38% - 1.5625vw);
		margin-left:0;
		flex:1;
	}
}
@include mq(md) {
	#container{
		display:flex;
		flex-direction: column;
	}
	#primary,#secondary{
		width:calc(100% - 3.125vw );
		margin-left: 1.5625vw;
	}
}

#page{
	max-width:1600px;
	margin-bottom: -40px;
	padding-bottom: 40px;
}


#foot{
	height:40px;
	margin :0 0;
}
	
.grd-back{ 
	$list-back-grad: 
		#F0F0F0 0%,
		#FFFFFF 70%,
		#F0F0F0 100%;

	width:100%;
	height:auto;
	@include gradient(15deg, $list-back-grad);

}



/*--------------------------------------------------------------
## H1234
--------------------------------------------------------------*/
h1{
	margin:0;
}

/*--------------------------------------------------------------
## Fonts
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Bar
--------------------------------------------------------------*/
.bar-l{
	display:block;
	height:0.2em;
	width:100%;
	margin:0.2em 0;
}
.bar-s{
	display:block;
	height:0.1em;
	width:10%;
	margin:0.1em 0;
}
/*--------------------------------------------------------------
## Shadow
--------------------------------------------------------------*/
.sdw4{
	filter: drop-shadow(2px 2px 1.5px rgba(10, 10, 10, 0.8));
}
.sdw3{
	filter: drop-shadow(1.5px 1.5px 1px rgba(10, 10, 10, 0.85));
}
.sdw2{
	filter: drop-shadow(1px 1px 0.5px rgba(10, 10, 10, 0.9));
}
.sdw1{
	filter: drop-shadow(0.5px 0.5px 0px rgba(10, 10, 10, 0.95));
}
/*--------------------------------------------------------------
## CardPatterns
--------------------------------------------------------------*/
.ptn-str-brown {
	--rlist: var(--c) 0 1px, transparent 0 3px;
	overflow: hidden;
	position: relative;
	height: var(--h);
	background: 
			repeating-linear-gradient(var(--ang-0, -45deg), 
					var(--rlist)) var(--pos-0, 0 0)/ var(--dim), 
			/*repeating-linear-gradient(var(--ang-1, 45deg), 
					var(--rlist)) var(--pos-1, 0 100%)/ var(--dim),*/ 
			linear-gradient(var(--ang), var(--nlist));
			
	--dim: 100% no-repeat;
	--ang: 0deg;
	--pos-1: 100%;
	--ang-0: -60deg;
	--ang-1: 60deg;
	--c: rgba(43, 24, 0,1.0);
	--nlist: rgba(43, 24, 0,1.0), rgba(183, 82, 10,1.0);
	
}
.ptn-str-brown-trans {
	--rlist: var(--c) 0 1px, transparent 0 3px;
	overflow: hidden;
	position: relative;
	height: var(--h);
	background: 
			repeating-linear-gradient(var(--ang-0, -45deg), 
					var(--rlist)) var(--pos-0, 0 0)/ var(--dim), 
			linear-gradient(var(--ang), var(--nlist));
			
	--dim: 100% no-repeat;
	--ang: 0deg;
	--pos-1: 100%;
	--ang-0: -60deg;
	--ang-1: 60deg;
	--c: rgba(43, 24, 0,0.6);
	--nlist: rgba(43, 24, 0,0.4), rgba(183, 82, 10, 0.4);
	
}
.ptn-str-brown-slant {
	--rlist: var(--c) 0 1px, transparent 0 3px;
	overflow: hidden;
	position: relative;
	height: var(--h);
	background: 
			repeating-linear-gradient(var(--ang-0, -45deg), 
					var(--rlist)) var(--pos-0, 0 0)/ var(--dim), 
			linear-gradient(var(--ang), var(--nlist));
			
	--dim: 100% no-repeat;
	--ang: 10deg;
	--pos-1: 100%;
	--ang-0: -60deg;
	--ang-1: 60deg;
	--c: rgba(183, 82, 10, 0.3);
	--nlist: rgba(183, 82, 10, 0.6) 50%, rgba(183, 82, 10, 0) 0%;
	
}
/*--------------------------------------------------------------
## Fire Text
--------------------------------------------------------------*/
.ptn-txgrad-fire{
	background-color: #ff0000;
	background-image: linear-gradient(-10deg, #ff0000 0%, #ffed00 65%, #FFFFFF 75%, #ffed00 90%);
	background-clip:text;
	text-fill-color:transparent;
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
}
/*--------------------------------------------------------------
## BOX
--------------------------------------------------------------*/
.bxrad{
	border-radius: 3px;
}
/*--------------------------------------------------------------
## Anime
--------------------------------------------------------------*/
@keyframes bound {
	0%,100% {top: 0;transform: scale(1);}
	40%,60% {top: 0;transform: scale(1);}
	50% {transform: scale(1.3);}
}
@keyframes buruburu {
    0% {transform:translate(0, -1px) rotate(0deg);}
    10% {transform:translate(0, 0) rotate(-1deg);}
    20% {transform:translate(0, -1px) rotate(0deg);}
    30% {transform:translate(0, 0)rotate(1deg);}
    40% {transform:translate(0, -1px) rotate(0deg);}
    5% {transform:translate(0, 0) rotate(-1deg);}
    60% {transform:translate(0, -1px) rotate(0deg);}
    70% {transform:translate(0, 0)rotate(1deg);}
    80% {transform:translate(0, -1px) rotate(0deg);}
    9% {transform:translate(0, 0) rotate(-1deg);}
    100% {transform:translate(0, -1px) rotate(0deg);}
}
