
/*--------------------------------------------------------------
## MainView
--------------------------------------------------------------*/
.site-header{
	width:100%;
	padding:1.5625vw 1.5625vw 0 1.5625vw;
	
	.h-area{
		width:100%;
		height:25vw;
		max-height:200px;
		padding:1.5625vw;
		
		
		background-size:cover;
		background-position: center bottom;
		
		.h-base{
			background-color:$cla-d06;
			height:21.875vw;
			max-height:170px;
			padding:1.5625vw;
			
			display:flex;
			justify-content: space-between;
			
			.h-desc{
				flex:1;
			}
			.h-name{
				border:solid #F9F9F9 1px;
				height:18.75vw;
				width:18.75vw;
				max-height:140px;
				max-width:140px;
				
				display:flex;
				align-items: center; 
				justify-content: center;
				h1{
					text-align:center;
				}
			}
			.h-addr{
				flex:1;
				position:relative;
				p{
					position:absolute;
					bottom:0;
					right:0;
				}
			}
			
			h1,p{
				font-family: "Sawarabi Mincho";
				color:#F9F9F9;
			}
			
		}
	}
	
	a,a:hover{
		text-decoration: none;
		img{
			vertical-align: bottom;
		}
	}
}
/*--------------------------------------------------------------
## Top page First View
--------------------------------------------------------------*/
.tp-first{
	margin :3.125vw 1.5625vw;
	
	display: grid;
	grid-gap:1.5625vw 2%;
	
	@include mq(xl) {
		grid-template-columns: 61.5% 36.5%;
		grid-template-rows: 36.328125vw 12.109375vw 12.109375vw;
		
		.tpf-carousel{
			grid-column: 1 / 2;
			grid-row: 1 / 4;
		}
		.tpf-newest1{
			grid-column: 2 / 3;
			grid-row: 1 / 2;
		}
		.tpf-newest2{
			grid-column: 2 / 3;
			grid-row: 2 / 3;
		}
		.tpf-newest3{
			grid-column: 2 / 3;
			grid-row: 3 / 4;
		}
	}
	@include mq(md) {
		grid-template-columns: 59% 39%;
		grid-template-rows: 96.875vw 28.28125vw 28.28125vw;
	
		.tpf-carousel{
			grid-column: 1 / 3;
			grid-row: 1 / 2;
		}
		.tpf-newest1{
			grid-column: 1 / 2;
			grid-row: 2 / 4;
		}
		.tpf-newest2{
			grid-column: 2 / 3;
			grid-row: 2 / 3;
		}
		.tpf-newest3{
			grid-column: 2 / 3;
			grid-row: 3 / 4;
		}
	}
	
	a{
		text-decoration:none;
	}
	
	.tpf-carousel{
		height:100%;
		overflow:hidden;
		.tpfc-inner{
			height:100%;
			width:100%;
			display:flex;
			a{
				scroll-snap-align: start;
			}
		}
	}
	.tpf-newest2,.tpf-newest3{
		.tpv-area{
			.tpva-title{
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}
	}
	
}

/*--------------------------------------------------------------
## Category
--------------------------------------------------------------*/

.tp-cate{
	
	
	.tp-intro,.tpc-1,.tpc-2,.tpc-3{
		
		.tpc-index{
			height:auto;
			a{
				text-decoration:none;
				margin: 1.5625vw 0;
				
				@include mq(xl) {
					height:48.4375vw;
				}
				@include mq(tb) {
					height:48.4375vw;
				}
				@include mq(md) {
					height:58.4375vw;
				}
				&:hover{
				
					@include mq(tb) {
						position:relative;
						/*height:auto;*/
						height:100vw;
						.tpv-bg{
							position:static;
							height:100%;
							width:100%;
							object-fit:cover;
						}
						.tpv-area{
							position:absolute;
							bottom:0;
							/*margin-top:-20%;*/
							height:50%;
						}
					}
					@include mq(md) {
						.tpv-area{
						}
					}
				}
			}
			display:flex;
			flex-direction: column;
		}
	}
	.tp-intro{
		
		.tpi-taco,.tpi-ika{
			a,i{
				color:$cla-l10;
				font-weight: bold;
			}
			i{
				margin-right:5px;
				font-size:1.6rem;
			}
		}
	}
	
	
	display:flex;
	flex-direction: column;
}


