
/*--------------------------------------------------------------
## MainView
--------------------------------------------------------------*/
.site-header{
	width:100%;
	padding:1.5625vw;
	
	.h-area{
		width:100%;
		height:25vw;
		max-height:200px;
		padding:1.5625vw;
		
		
		background-size:cover;
		background-position: center bottom;
		
		.h-base{
			background-color:$cla-d06;
			height:21.875vw;
			max-height:170px;
			padding:1.5625vw;
			
			display:flex;
			justify-content: space-between;
			
			.h-desc{
				flex:1;
			}
			.h-name{
				border:solid #F9F9F9 1px;
				height:18.75vw;
				width:18.75vw;
				max-height:140px;
				max-width:140px;
				
				display:flex;
				align-items: center; 
				justify-content: center;
				h1{
					text-align:center;
				}
			}
			.h-addr{
				flex:1;
				position:relative;
				p{
					position:absolute;
					bottom:0;
					right:0;
				}
			}
			
			h1,p{
				font-family: "Sawarabi Mincho";
				color:#F9F9F9;
			}
			
			@include mq(xl) {
				p{
					font-size:1.2em;
					line-height:1.6em;
					letter-spacing:0.3em;
				}
				h1{
					font-size:1.8em;
					line-height:1.2em;
					letter-spacing:0.4em;
					max-width:120px;
				}
			}
			@include mq(lg) {
				p{
					font-size:1.2em;
					line-height:1.6em;
					letter-spacing:0.3em;
				}
				h1{
					font-size:1.8em;
					line-height:1.2em;
					letter-spacing:0.4em;
					max-width:120px;
				}
			}
			@include mq(md) {
				p{
					font-size:0.8em;
					line-height:1.4em;
					letter-spacing:0.2em;
				}
				h1{
					font-size:1.2em;
					line-height:1.3em;
					letter-spacing:0.3em;
				}
			}
			@include mq(sm) {
				p{
					font-size:0.6em;
					line-height:1.4em;
					letter-spacing:0.1em;
				}
				h1{
					font-size:1em;
					line-height:1.2em;
					letter-spacing:0.2em;
				}
			}
		}
	}
	
	a,a:hover{
		text-decoration: none;
		img{
			vertical-align: bottom;
		}
	}
}

/*--------------------------------------------------------------
## Top page First View
--------------------------------------------------------------*/
.tp-first{
	margin-top:1.5625vw;
	padding: 0 1.5625vw;
	
	display: grid;
	
	@include mq(xl) {
		grid-template-columns: 62.5% 37.5%;
		grid-template-rows: 36.328125vw 12.109375vw 12.109375vw;
	
		.tpf-carousel{
			grid-column: 1 / 2;
			grid-row: 1 / 4;
		}
		.tpf-atfirst{
			grid-column: 2 / 3;
			grid-row: 1 / 2;
		}
		.tpf-newest1{
			grid-column: 2 / 3;
			grid-row: 2 / 3;
		}
		.tpf-newest2{
			grid-column: 2 / 3;
			grid-row: 3 / 4;
		}
	}		
	@include mq(lg) {
		grid-template-columns: 62.5% 37.5%;
		grid-template-rows: 36.328125vw 12.109375vw 12.109375vw;
	
		.tpf-carousel{
			grid-column: 1 / 2;
			grid-row: 1 / 4;
		}
		.tpf-atfirst{
			grid-column: 2 / 3;
			grid-row: 1 / 2;
		}
		.tpf-newest1{
			grid-column: 2 / 3;
			grid-row: 2 / 3;
		}
		.tpf-newest2{
			grid-column: 2 / 3;
			grid-row: 3 / 4;
		}
	}	
	@include mq(md) {
		grid-template-columns: 60% 40%;
		grid-template-rows: 96.875vw 29.0625vw 29.0625vw;
	
		.tpf-carousel{
			grid-column: 1 / 3;
			grid-row: 1 / 2;
		}
		.tpf-atfirst{
			grid-column: 1 / 2;
			grid-row: 2 / 4;
		}
		.tpf-newest1{
			grid-column: 2 / 3;
			grid-row: 2 / 3;
		}
		.tpf-newest2{
			grid-column: 2 / 3;
			grid-row: 3 / 4;
		}
	}
	@include mq(sm) {
		grid-template-columns: 60% 40%;
		grid-template-rows: 96.875vw 29.0625vw 29.0625vw;
	
		.tpf-carousel{
			grid-column: 1 / 3;
			grid-row: 1 / 2;
		}
		.tpf-atfirst{
			grid-column: 1 / 2;
			grid-row: 2 / 4;
		}
		.tpf-newest1{
			grid-column: 2 / 3;
			grid-row: 2 / 3;
		}
		.tpf-newest2{
			grid-column: 2 / 3;
			grid-row: 3 / 4;
		}
	}
	
	a{
		text-decoration:none;
	}
	
	.tpf-carousel{
		height:100%;
		/*
		overflow-x:scroll;
		overflow-y:hidden;
		scroll-snap-type: x mandatory;
		scroll-behavior: smooth;
		-webkit-overflow-scrolling: touch;
		*/overflow:hidden;
		.tpfc-inner{
			height:100%;
			width:/*305%*/100%;
			display:flex;
			a{
				scroll-snap-align: start;
			}
		}
		/*
		.tpfc-inner::-webkit-scrollbar-track{
			background-color:rgba(0,0,0,1);
		}
		.tpfc-inner::-webkit-scrollbar-thumb {
			border-radius: 5px;
			background: #1959A8;
		}
	*/
		
	}
	/*
	.tpf-carousel::-webkit-scrollbar-track{
		background-color:rgba(0,0,0,1);
	}
	.tpf-carousel::-webkit-scrollbar-thumb {
		border-radius: 5px;
		background: #1959A8;
	}
	*/
	
	
	.tpfc-inner,.tpf-atfirst,.tpf-newest1,.tpf-newest2{
		.tpv-area{
			height:100%;
			width:100%;
			
			background-size:cover;
			background-position: center;
			
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: flex-end;
			align-items: flex-end;
			align-content: flex-end;
			
			filter:grayscale(60%) contrast(140%) brightness(140%);
			
			.tpva-categ,.tpva-title{
				filter:none;
				font-weight:normal;
				color:$clb-g10
			}
			
			.tpva-categ{
				background-color:$cla-l08;
				margin-right:1.5625vw;
				padding: 0 1.5625vw;
			}
			.tpva-title{
				background-color:$cla-d08;
				margin:1.5625vw;
				margin-left:20%;
				padding:1.5625vw;
				text-align: center;
			}
		}
		.tpv-area:hover{
			filter:none;
			animation:buruburu 0.3s 1 linear alternate;
			.tpva-title{
				margin-left:5%;
			}
			
		}
	}
	.tpfc-inner{
		.tpv-area{
			filter:none;
		}
		.tpv-area:hover{
			animation:none;
		}
	}
	.tpf-newest1,.tpf-newest2{
		.tpv-area{
			.tpva-title{
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}
	}
	
	@include mq(xl) {
		.tpfc-inner,.tpf-atfirst{
			h2{
				font-size:1.6em;
				line-height:1.2em;
				letter-spacing:0.2em;
			}
		}
		.tpf-newest1,.tpf-newest2{
			h2{
				font-size:1.2em;
				line-height:1.2em;
				letter-spacing:0.1em;
			}
		}
		p{
			font-size:1.2em;
			line-height:1.5em;
			letter-spacing:0.2em;
		}
	}
	@include mq(lg) {
		.tpfc-inner,.tpf-atfirst{
			h2{
				font-size:1.2em;
				line-height:1.2em;
				letter-spacing:0.2em;
			}
		}
		.tpf-newest1,.tpf-newest2{
			h2{
				font-size:1em;
				line-height:1.2em;
				letter-spacing:0.1em;
			}
		}
		p{
			font-size:1em;
			line-height:1.5em;
			letter-spacing:0.2em;
		}
	}
	@include mq(md) {
		.tpfc-inner,.tpf-atfirst{
			h2{
				font-size:1.2em;
				line-height:1.2em;
				letter-spacing:0.2em;
			}
		}
		.tpf-newest1,.tpf-newest2{
			h2{
				font-size:1em;
				line-height:1.1em;
				letter-spacing:0.1em;
			}
		}
		p{
			font-size:1em;
			line-height:1.5em;
			letter-spacing:0.2em;
		}
	}
	@include mq(sm) {
		.tpfc-inner,.tpf-atfirst{
			h2{
				font-size:1em;
				line-height:1.2em;
				letter-spacing:0.2em;
			}
		}
		.tpf-newest1,.tpf-newest2{
			h2{
				font-size:0.8em;
				line-height:1.1em;
				letter-spacing:0.1em;
			}
		}
		p{
			font-size:0.8em;
			line-height:1.5em;
			letter-spacing:0.2em;
		}
	}
}
/*
-webkit-scrollbar-track{
	background-color:rgba(0,0,0,1);
}
-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: #1959A8;
}
*/
