/*--------------------------------------------------------------
## Top page Block
--------------------------------------------------------------*/
.tpv{
	display:block;
	width:100%;
	height:100%;
	position:relative;
	
	.tpv-bg{
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		
		object-fit:cover;
		object-position: center;
		pointer-events: none;
	}
	
	.tpv-area{
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		pointer-events: none;
		
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-end;
		align-items: flex-end;
		align-content: flex-end;
		
		.tpva-categ,.tpva-title{
			filter:none;
			font-weight:normal;
			color:$clb-g10
		}
		
		.tpva-categ{
			background-color:$cla-l08;
			margin:0 1.5625vw 0.5vw ;
			padding: 0 1.5625vw;
		}
		.tpva-title{
			background-color:$cla-d08;
			margin:0 1.5625vw 0.5vw 10%;
			padding:0.5vw 1.5625vw ;
			text-align: right;
		}
		.tpva-dect{
			background-color:$clb-g08;
			color:$cla-d10;
			margin:0 1.5625vw 0.5vw 10%;
			padding:0.5vw 1.5625vw ;
			text-align: right;
		}
		
		@include mq(xl) {
			h2{
				font-size:1.6em;
				line-height:1.1em;
				letter-spacing:0.2em;
			}
			.tpva-categ{
				font-size:1.2em;
				line-height:1.4em;
				letter-spacing:0.2em;
			}
			.tpva-dect{
				p{
					font-size:1em;
				}
			}
		}
		@include mq(md) {
			h2{
				font-size:1em;
				line-height:1.1em;
				letter-spacing:0.2em;
			}
			.tpva-categ{
				font-size:0.8em;
				line-height:1.5em;
				letter-spacing:0.2em;
			}
			.tpva-dect{
				p{
					font-size:0.7em;
				}
			}
		}
	}
	&:hover{
		.tpv-area{
			.tpva-title,.tpva-dect{
				margin-left:5%;
			}
		}
	}
}

.tpf-newest1,.tpf-newest2,.tpf-newest3,.tpc-1,.tpc-2,.tpc-3{
	.tpv{
		.tpv-bg{
			filter:sepia(40%)  hue-rotate(-16deg) contrast(80%) brightness(80%);
		}
		&:hover{
			.tpv-bg{
				filter:none;
			}
		}
	}
}
.tpf-newest1,.tpf-newest2,.tpf-newest3{
	.tpv{
		&:hover{
			.tpv-bg{
				animation:buruburu 0.3s 1 linear alternate;
			}
		}
	}
}
/*--------------------------------------------------------------
## MainView
--------------------------------------------------------------*/
.site-header{
	width:100%;
	padding:1.5625vw 1.5625vw 0 1.5625vw;
	
	.h-area{
		width:100%;
		height:25vw;
		max-height:200px;
		padding:1.5625vw;
		
		
		background-size:cover;
		background-position: center bottom;
		
		.h-base{
			background-color:$cla-d06;
			height:21.875vw;
			max-height:170px;
			padding:1.5625vw;
			
			display:flex;
			justify-content: space-between;
			
			.h-desc{
				flex:1;
			}
			.h-name{
				border:solid #F9F9F9 1px;
				height:18.75vw;
				width:18.75vw;
				max-height:140px;
				max-width:140px;
				
				display:flex;
				align-items: center; 
				justify-content: center;
				h1{
					text-align:center;
				}
			}
			.h-addr{
				flex:1;
				position:relative;
				p{
					position:absolute;
					bottom:0;
					right:0;
				}
			}
			
			h1,p{
				font-family: "Sawarabi Mincho";
				color:#F9F9F9;
			}
			
			@include mq(xl) {
				p{
					font-size:1.2em;
					line-height:1.6em;
					letter-spacing:0.3em;
				}
				h1{
					font-size:1.8em;
					line-height:1.2em;
					letter-spacing:0.4em;
					max-width:120px;
				}
			}
			@include mq(lg) {
				p{
					font-size:1.2em;
					line-height:1.6em;
					letter-spacing:0.3em;
				}
				h1{
					font-size:1.8em;
					line-height:1.2em;
					letter-spacing:0.4em;
					max-width:120px;
				}
			}
			@include mq(md) {
				p{
					font-size:0.8em;
					line-height:1.4em;
					letter-spacing:0.2em;
				}
				h1{
					font-size:1.2em;
					line-height:1.3em;
					letter-spacing:0.3em;
				}
			}
			@include mq(sm) {
				p{
					font-size:0.6em;
					line-height:1.4em;
					letter-spacing:0.1em;
				}
				h1{
					font-size:1em;
					line-height:1.2em;
					letter-spacing:0.2em;
				}
			}
		}
	}
	
	a,a:hover{
		text-decoration: none;
		img{
			vertical-align: bottom;
		}
	}
}
/*--------------------------------------------------------------
## Top page First View
--------------------------------------------------------------*/
.tp-first{
	margin :3.125vw 1.5625vw;
	
	display: grid;
	grid-gap:1.5625vw 2%;
	
	@include mq(xl) {
		grid-template-columns: 61.5% 36.5%;
		grid-template-rows: 36.328125vw 12.109375vw 12.109375vw;
		
		.tpf-carousel{
			grid-column: 1 / 2;
			grid-row: 1 / 4;
		}
		.tpf-newest1{
			grid-column: 2 / 3;
			grid-row: 1 / 2;
		}
		.tpf-newest2{
			grid-column: 2 / 3;
			grid-row: 2 / 3;
		}
		.tpf-newest3{
			grid-column: 2 / 3;
			grid-row: 3 / 4;
		}
	}
	@include mq(md) {
		grid-template-columns: 59% 39%;
		grid-template-rows: 96.875vw 28.28125vw 28.28125vw;
	
		.tpf-carousel{
			grid-column: 1 / 3;
			grid-row: 1 / 2;
		}
		.tpf-newest1{
			grid-column: 1 / 2;
			grid-row: 2 / 4;
		}
		.tpf-newest2{
			grid-column: 2 / 3;
			grid-row: 2 / 3;
		}
		.tpf-newest3{
			grid-column: 2 / 3;
			grid-row: 3 / 4;
		}
	}
	
	a{
		text-decoration:none;
	}
	
	.tpf-carousel{
		height:100%;
		overflow:hidden;
		.tpfc-inner{
			height:100%;
			width:100%;
			display:flex;
			a{
				scroll-snap-align: start;
			}
		}
		
	}
	


	.tpf-newest2,.tpf-newest3{
		.tpv-area{
			.tpva-title{
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}
	}
	
	@include mq(xl) {
		.tpf-newest2,.tpf-newest3{
			h2{
				font-size:1.2em;
				line-height:1.2em;
				letter-spacing:0.1em;
			}
		}
	}
	@include mq(lg) {
		.tpf-newest2,.tpf-newest3{
			h2{
				font-size:1em;
				line-height:1.2em;
				letter-spacing:0.1em;
			}
		}
	}
	@include mq(md) {
		.tpf-newest2,.tpf-newest3{
			h2{
				font-size:1em;
				line-height:1.1em;
				letter-spacing:0.1em;
			}
		}
	}
	@include mq(sm) {
		.tpf-newest2,.tpf-newest3{
			h2{
				font-size:0.8em;
				line-height:1.1em;
				letter-spacing:0.1em;
			}
		}
	}
}

/*--------------------------------------------------------------
## Category
--------------------------------------------------------------*/

.tp-cate{
	
	margin :3.125vw 1.5625vw;
	
	.tp-intro,.tpc-1,.tpc-2,.tpc-3{
		.tpc-title{
			margin-top:1rem;
			width:100%;
			position:relative;
			
			.tpct-back{
				width:100%;
				position:absolute;
				bottom:0;
				height:40%;
			}
			
			.tpct-name{
				position:absolute;
				top:0;
				margin: 0 auto;
				filter: drop-shadow(1px 1px 1px rgba(5, 5, 5, 0.9));
			
				display:flex;
				justify-content: center;
				align-items: center;
				h1{
					text-align:center;
					color:$clb-g10;
					text-shadow: 2px 2px 4px $cla-d08;
				}
				i{
					animation: bound 5s ease 0s infinite normal;
					margin: 0 0.5rem;
				}
			
			}
			@include mq(xl) {
				height:3.5em;
				.tpct-name{
					h1{
						font-size:2.8em;
					}
					i{
						font-size: 2.8rem;
					}
				}
			}
			@include mq(md) {
				height:2.5em;
				.tpct-name{
					h1{
						font-size:1.8em;
					}
					i{
						font-size: 1.8rem;
					}
				}
			}
			
			
			
		}
		.tpc-index{
			height:auto;
			a{
				text-decoration:none;
				height:48.4375vw;
				margin: 1.5625vw 0;
				
				&:hover{
					position:static;
					height:90vw;
					.tpv-bg{
						position:static;
						height:70%;
					}
					.tpv-area{
						position:static;
						height:30%;
					}
					
				}
				
			}
			display:flex;
			flex-direction: column;
		}
	}
	.tp-intro{
		
		.tpi-taco,.tpi-ika{
			a,i{
				color:$cla-l10;
				font-weight: bold;
			}
			i{
				margin-right:5px;
				font-size:1.6rem;
			}
		}
	}
	
	
	
	display: grid;
	grid-gap:1.5625vw 2%;

	@include mq(xl) {
		grid-template-columns: 61.5% 36.5%;
		grid-template-rows: auto auto auto;
		
		.tp-intro{
			grid-column: 1 / 2;
			grid-row: 1 / 2;
		}
		.tpc-1{
			grid-column: 2 / 3;
			grid-row: 1 / 4;
		}
		.tpc-2{
			grid-column: 1 / 2;
			grid-row: 2 / 3;
		}
		.tpc-3{
			grid-column: 1 / 2;
			grid-row: 3 / 4;
		}
	}
	@include mq(tb) {
		grid-template-columns: 100%;
		grid-template-rows: auto auto auto auto;
		
		.tp-intro{
			grid-column: 1 / 2;
			grid-row: 1 / 2;
		}
		.tpc-1{
			grid-column: 1 / 2;
			grid-row: 2 / 3;
		}
		.tpc-2{
			grid-column: 1 / 2;
			grid-row: 3 / 4;
		}
		.tpc-3{
			grid-column: 1 / 2;
			grid-row: 4 / 5;
		}
	}
}


