@mixin accordionSP($baseclass,$parent:true){
    .#{$baseclass}{
        @if $parent {
            margin:1rem;
        }
        @else{
            margin:1rem 0;
        }
        .#{$baseclass}--on{
            display:none;
        }
        .#{$baseclass}--toggle{
            display:flex;
            align-items: center;
            h3,h4{
                color:$cla-d10;
                font-weight: bold;
                background-color: #FFF1;
                //backdrop-filter:blur(0.5px);
            }
        }
        .#{$baseclass}--border{
            width: 100%;
            height: 3px;
        }
        .#{$baseclass}--list{
            padding-left:1.5rem;//
            a{
                display: block;
                p{
                    letter-spacing:0.05rem;
                    background-color: #FFF1;
                    line-height: 1.4;
                    margin: 0.8rem 0;
                }
            }
        }
        .#{$baseclass}--on:not(:checked) ~ .#{$baseclass}--list{
            p,a,h3,h4,div{
                line-height: 0.000000000001;
                opacity: 0;
                margin: 0;
                transform: scaleY(0);
            }
        }
        .#{$baseclass}--on:checked ~ .#{$baseclass}--list{
            h3,h4{
                line-height: 1.1;
            }
        }
    }
}