/*表示変更*/
.comment-form-comment label{font-size:0;}
.comment-form-comment label:before {font-size: 14px; content: "内容";}
.comment-form-author label{font-size:0;}
.comment-form-author label:before {font-size: 14px; content: "ニックネーム";}