@mixin bordershadow($b-size:1px,$b-color:#000,$s-size:2px,$s-color:#000){
    filter:drop-shadow($b-size $b-size 0px $b-color)
            drop-shadow((-$b-size) $b-size 0px $b-color)
            drop-shadow($b-size (-$b-size) 0px $b-color)
            drop-shadow((-$b-size) (-$b-size) 0px $b-color)
            drop-shadow($s-size $s-size $s-size $s-color);
}

@mixin cloudpouup($baseid:base,$csize:12vw,$xpos:0,$ypos:0){

    
    ##{$baseid}{
        display: block;
        position: fixed;
        background-color: #0000;
        width: auto;
        height: auto;
        right:5%;
        bottom:5%;
        z-index: 2;

        
        ##{$baseid}--on{
            display: none;
        }
        .#{$baseid}--area{
            display: block;
            position: fixed;
            @include cloud-xs();
            backdrop-filter:blur(5px);
        }
        ##{$baseid}--on:not(:checked) ~ .#{$baseid}--area{
            background-color:$clb-g10;
            bottom: $ypos;
            right: $xpos;
            width: $csize;
            height: $csize;
            @include bordershadow(0.5px,#000,3px,rgba(0,0,0,0.9));
            &::before,&::after{
                background-color:$clb-g10;
            }
            animation: yurayura random(10)+15s linear random(100)+0ms infinite normal both;
        }
        ##{$baseid}--on:checked ~ .#{$baseid}--area{
            background-color:$clb-g06;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            border-radius: 0;
            filter:none;
            &::before,&::after{
                background-color:$clb-g00;
            }
        }
    }
    
}


