/*表示変更*/
.comment-form-comment label{font-size:0;}
.comment-form-comment label:before {font-size: 14px; content: "内容";}
.comment-form-author label{font-size:0;}
.comment-form-author label:before {font-size: 14px; content: "ニックネーム";}
.comments-area{margin:1rem 0;}
#comment{width:100%;}

/*投稿エリア*/
@include mq(xl) {
    #comments-post{
        display: none;
    }
}
@include mq(tb) {
    @include cloudpouup(comments-post,12vw,24%,5%);
    #comments-post{
        .comments-post--area{
            @include tglbutton-come-base(tglbutton-come,12vw);
        }
        #comments-post--on:not(:checked) ~ .comments-post--area{
            //.navimenu--contant{transform: scale(0);}
            @include tglbutton-come-off(tglbutton-come,12vw);
        }
        #comments-post--on:checked ~ .comments-post--area{
            //.navimenu--contant{transform: scale(100%);}
            @include tglbutton-come-on(tglbutton-come,12vw);
        }
    }
}