

/*--------------------------------------------------------------
## Rank / Suggestion / Futerd
--------------------------------------------------------------*/
.vrn,.sug,.ftd{
	text-decoration:none;
	margin: 1.5625vw 0;
	display:block;
	
	.vrn-bg,.sug-bg,.ftd-bg{
		object-fit:cover;
		object-position: center;
		pointer-events: none;
	}
	
	.vrn-text,.sug-text,.ftd-text{
		
		pointer-events: none;
	
		display:flex;
		align-items: flex-end;
		min-height:70px;
		padding: 1%;
		
		.vrnt-num,sugt-icon,.ftdt-icon{
			font-size: 1.6em;
			line-height: 1;
			width:8%;
			text-align:center;
			
			margin: 0 1%;
			color: $clb-g10;
			font-weight: bold;
			filter: drop-shadow(1px 1px 1px $cla-d10); 
		}
		
		.vrnt-title,.sugt-title,.ftdt-title{
			width:90%;
			display:flex;
			flex-direction: column;
			filter: drop-shadow(1px 1px 1px $cla-d10); 
			
			.vrnt-views{
				font-size:0.6em;
				background-color:$cla-d10;
				color:$clb-g10;
				padding:0 1vw;
				width:40%;
				text-align:center;
			}
			.vrnt-h2,.vrnt-h3,.sugt-p,.ftdt-p{
				color: $clb-g10;
				text-shadow:0 0 2px $cla-d10;
				font-size:1em;
				margin:0;
			}
		}
	}
	.sug-text,.ftd-text{
		.sugt-icon,.ftdt-icon{
			font-size:1.8rem;
			margin: 0 0 0 -0.1em;
			
		}
		.sugt-p,.ftdt-p{
			line-height:1;
		}
	}
	
	&.vrn-1{
		.vrn-text{
			.vrnt-num{
				font-size: 2.4em;
				background:linear-gradient(-38deg,
					#aa771c 0%, #d0a850 10%, #b38728 40%,
					 #fbf5b7 70%, #aa771c 100%);
				background-clip:text;
				text-fill-color:transparent;
				-webkit-background-clip:text;
				-webkit-text-fill-color:transparent;
			}
		}
	}
		&.vrn-2{
		.vrn-text{
			.vrnt-num{
				font-size: 2.4em;
				background:linear-gradient(-38deg,
					 #dedede,  #454545 23%, #dedede 43%,
					 #ffffff 45%, #ffffff 60%, #dedede 72%,  #a1a1a1);
				background-clip:text;
				text-fill-color:transparent;
				-webkit-background-clip:text;
				-webkit-text-fill-color:transparent;
			}
		}
	}
	&.vrn-3{
		.vrn-text{
			.vrnt-num{
				font-size: 2.4em;
				background:linear-gradient(-38deg,
					 #ca7345,  #a14521 27%, #ca7345 36%, #ffdeca 45%,
					 #ffdeca 53%, #ffdeca 60%, #ca7345 84%, #732100);
				background-clip:text;
				text-fill-color:transparent;
				-webkit-background-clip:text;
				-webkit-text-fill-color:transparent;
			}
		}
	}
	&.vrn-4,&.vrn-5{
		.vrn-text{
			.vrnt-num{
				background:linear-gradient(-38deg, #000000 10%, #A0A0A0 60%, #000000 90%);
				background-clip:text;
				text-fill-color:transparent;
				-webkit-background-clip:text;
				-webkit-text-fill-color:transparent;
			}
		}
	}
}
.vrn,.sug,.ftd{
	
	position:relative;
	height:100px;
	
	.vrn-bg,.sug-bg,.ftd-bg{
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		filter:sepia(40%)  hue-rotate(-16deg) contrast(80%) brightness(80%);
	}
	.vrn-text,.sug-text,.ftd-text{
		
		position:absolute;
		bottom:0;
		left:0;
		width:100%;
		height:100%;
	}
}
.vrn:hover,.sug:hover,.ftd:hover{
	
	position:relative;
	height:200px;
	
	.vrn-bg,.sug-bg,.ftd-bg{
		position:static;
		height:100%;
		filter:none;
	}
	.vrn-text,.sug-text,.ftd-text{
		--c: rgba(183, 82, 10, 0.0);
		position:absolute;
		bottom:0;
		height:50%;
	}
}

@include mq(xl) {
	.sgt-area,.ftd-area{
		display:flex;
		flex-direction:row;
		justify-content: space-between;
		.sgta-post,.ftda-post{
			width:48%;
		}
	}
}
@include mq(tb) {
	.sgt-area,.ftd-area{
		display:flex;
		flex-direction:column;
		.sgta-post,.ftda-post{
			width:100%;
		}
	}
}
